* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navigationBar {
  width: 100%;
  background-color: red;
  height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBar {
  display: flex;
  margin-left: 80px;
}

.textBar {
  width: 320px;
  justify-content: center;
  display: flex;
}

.textBarChild {
  font-weight: 400;

  width: 100%;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
}

.buttonBar {
  border-radius: 5px;

  font-size: 18px;
  color: #f7941e;
  text-transform: uppercase;
  justify-content: center;
  width: 150px;
  display: flex;
  align-items: center;
  height: 43.5px;
  border: 3px solid #f7941e;
  margin-right: 34px;
}

.sideImage {
  display: flex;

  width: 100%;

  height: 700px;
}

.sideOne {
  flex-direction: column;
  display: flex;
  background: #f1f1f2;
  align-items: center;

  width: 50%;

  height: 700px;
}

.sideBlock {
  background: #f1f1f2;
}

.sideTextOne {
  font-weight: 600;
  height: 206px;
  width: 433px;
  font-size: 56px;
  margin-top: 154px;

  text-align: left;
}

.sideTextTwo {
  margin-top: 32px;
  margin-bottom: 52px;
  width: 422px;
  font-family: 'Gilroy';
  font-size: 20px;
  text-align: left;
}

.sideTextButton {
  border-radius: 5%;
  height: 57px;
  width: 200px;
  font-family: 'Gilroy';
  font-size: 20px;
  background-color: #f7941e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.sideTwo {
  width: 50%;

  height: 700px;
}

.featureSplit {
  width: 100%;
  display: flex;
  height: 600px;
}

.featureSplitOne {
  flex-direction: column;
  display: flex;

  align-items: center;

  width: 50%;

  height: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.featureSplitTwo {
  flex-direction: column;
  display: flex;
  background-color: #f1f1f2;
  align-items: center;

  width: 50%;
  justify-content: center;
  height: 100%;
}

.featureSplitTwoBlock {
  font-weight: 600;
  height: 332px;
  width: 441px;

  text-align: left;
}

.featureSplitTwoBlock :nth-child(1) > p {
  font-size: 56px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 26px;
}

.featureSplitTwoBlock :nth-child(2) > p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
}

.featureSplitTwoBlockButton {
  font-weight: 300;
  display: flex;
  border-radius: 5%;
  color: #f7941e;
  border: 2px solid #f7941e;
  width: 200px;
  height: 60px;
  font-size: 18px;
  justify-content: center;
  margin-top: 35px;
}

.postsTall {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 820px;
}

.postsTallText > h2 {
  margin-top: 96px;
  margin-bottom: 23px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.postsTallText :nth-child(2) {
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 64px;
}

.posts {
  width: 90%;

  display: flex;
  justify-content: space-between;
}

.postsOne {
  height: 436px;
  width: 270px;
  box-shadow: 5px 6px 10px 1px rgba(128, 128, 128, 0.527);
  border-radius: 0px;
}

.postsOne > div {
  height: 65%;
  width: 100%;
}

.postsOne :nth-child(2) {
  font-size: 20px;
  margin: 24px;
  font-weight: 400;
}

.postsOne :nth-child(3) {
  font-weight: 400;
  margin: 24px;
  font-size: 14px;
}

.ctaSection {
  align-items: center;
  display: flex;

  width: 100%;
  background-color: #f7941e;
  height: 240px;
  justify-content: space-around;
}

.ctaSectionOne {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;

  width: 50%;
  height: 100%;
}
.ctaSectionOne > p {
  margin: 0;
  font-size: 32px;
}
.ctaSectionOne > :nth-child(1) {
  font-weight: 600;
}
.ctaSectionTwo {
  justify-content: center;
  height: 48px;
  width: 50%;
  left: 789px;
  top: 96px;

  display: flex;
  border: 5x solid black;
}
.ctaSectionTwo :nth-child(1) {
  margin-right: 16px;
  width: 200px;
  border: 0px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
.ctaSectionTwo :nth-child(2) {
  width: 200px;
  border: 3px solid black;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #f7941e;
}
.blogTop {
  width: 100%;

  height: auto;
}
.blogText > h1 {
  margin-top: 96px;
  margin-bottom: 23px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.blogText :nth-child(2) {
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 64px;
}
.blogBar {
  display: flex;
  justify-content: center;
}
.blogBarOne {
  background-color: black;
  width: 90%;

  display: flex;
}
.blogBarOneChild {
  box-sizing: border-box;
  width: 400px;
  height: 370px;
}

.blogBarText {
  flex-direction: column;
  display: flex;
  padding-left: 100px;
  justify-content: center;
  width: 492px;
  color: white;
}
.blogBarText :nth-child(2) {
  font-size: 48px;
  font-weight: 100;
}
.blogBarText :nth-child(1) {
  font-weight: 100;
  font-size: 14px;
}
.blogBarText :nth-child(3) {
  font-weight: 100;
}
.blogBarButtomOne {
  margin-bottom: 80px;
  margin-top: 40px;
  justify-content: space-between;
  width: 90%;

  display: flex;
}
.comment {
  box-shadow: 5px 6px 10px 1px rgba(128, 128, 128, 0.527);
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 290px;

  width: 49%;
}
.comment > h3 {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: 600;
}
.comment :nth-child(2) {
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 400;
}
.comment :nth-child(3) {
  margin: 0;
  font-size: 14px;
  font-weight: 200;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  height: 410px;
}
.footerOne {
  font-weight: 600;
  margin: 115px 0px 53px 0px;
  width: 45%;
  justify-content: space-between;
  display: flex;
}

.footerLine {
  margin: 0px;
  height: 0;
  width: 75%;
}

footerOne > div {
  font-size: px;
}
.footerOne :nth-child(3) {
  width: 41px;
}
.footerShare {
  margin: 56px 0px 0px 0px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.footerDate {
  font-size: 14px;
  margin: 73px 0px 0px 0px;
}
